<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_1"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cse225_codes"
        tools:targetApi="31">
        <activity
            android:name=".ExtraNavigationDrawerTwo"
            android:exported="true"
            android:theme="@style/Theme.NavigationDrawer" />
        <activity
            android:name=".ExtraNavigationDrawerOneSlideableMenu"
            android:exported="true" />
        <activity
            android:name=".ExtraProgressBarsOne"
            android:exported="true" />
        <activity
            android:name=".ExtraSwitchButtonOne"
            android:exported="false" />
        <activity
            android:name=".ExtraQRCodeScannerOne"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".ExtraTimePickerTwo"
            android:exported="false" />
        <activity
            android:name=".ExtraTimePickerOne"
            android:exported="false" />
        <activity
            android:name=".ExtraDatePickerOne"
            android:exported="false" />
        <activity
            android:name=".ExtraBottomNavigationBarOne"
            android:exported="false" />
        <activity
            android:name=".ExtraFragmentsDemoTwo"
            android:exported="false" />
        <activity
            android:name=".ClassDemoSixSwipeViewOne"
            android:exported="true" />
        <activity
            android:name=".ClassDemoFiveExternalStorageImageDisplayOne"
            android:exported="true" />
        <activity
            android:name=".ClassDemoFiveExternalStorageImageInputOne"
            android:exported="true" />
        <activity
            android:name=".ClassDemoFiveExternalStorageFetchDetailsOne"
            android:exported="true" />
        <activity
            android:name=".ClassDemoFiveExternalStorageFileInputOutputOne"
            android:exported="true" />
        <activity
            android:name=".ClassDemoFiveFileOperationsOne"
            android:exported="true" />
        <activity
            android:name=".ClassDemoFourCustomEditTextOne"
            android:exported="true" />
        <activity
            android:name=".ClassDemoFourSharedPreferencesOne"
            android:exported="true" />
        <activity
            android:name=".ExtraFragmentDemo1"
            android:exported="true" />
        <activity
            android:name=".ExtraRatingBar1"
            android:exported="true"
            android:theme="@style/ExtraRatingBar1Theme" />
        <activity
            android:name=".ExtraSplashScreen2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExtraSplashScreenUsingAPI1"
            android:exported="true"
            android:theme="@style/Theme.App.ExtraSplash1" />
        <activity
            android:name=".ExtraBottomNavigationBarWithFragments"
            android:exported="true"
            android:theme="@style/Theme.App.ExtraSplash2" />
        <activity
            android:name=".ClassDemoThreeStaticFragmentExample1"
            android:exported="true" />
        <activity
            android:name=".ClassDemoTwoJobScheduler1"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneNotificationView1"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneNotificationManager1"
            android:exported="true" />
        <activity
            android:name=".CA1PracticeUnit1Footer2ListView1"
            android:exported="true" />
        <activity
            android:name=".CA1PracticeUnit2AlarmManger1Main"
            android:exported="true" />

        <receiver android:name=".CA1PracticeUnit2AlarmManger1Broadcast" />

        <activity
            android:name=".CA1PracticeUnit1Footer1"
            android:exported="true" />
        <activity
            android:name=".CA1PracticeUnit1SplashScreen1"
            android:exported="true" />
        <activity
            android:name=".CA1PracticeUnit1CustomToast1"
            android:exported="true" />
        <activity
            android:name=".CA1PracticeUnit1ProgressBar1"
            android:exported="true" />
        <activity
            android:name=".CA1PracticeUnit1BackgroundColorChangeToolbar1"
            android:exported="true" />
        <activity
            android:name=".CA1PracticeUnit1RatingBar1"
            android:exported="true" />
        <activity
            android:name=".CA1PracticeUnit1ScrollView1"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneSimpleScrollView1"
            android:exported="true" />
        <activity
            android:name=".ClassDemoTwoAlarmManager1"
            android:exported="true" />

        <receiver android:name=".ClassDemoTwoAlarmManager1AlarmBroadcast1" />

        <activity
            android:name=".ClassDemoOneFooter2BottomNav1"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneFooter1ListView"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneCustomToast2ToastLayout4"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneColorChangeToolbar"
            android:exported="true" />
        <activity
            android:name=".ClassTaskOneToolbar1"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneScrollViewTask"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneCustomToast3Dependency1"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneCustomToast2ToastLayout3"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneCustomToast2ToastLayout2"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneCustomToast2ToastLayout1"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneCustomToast1StyleableToast1"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneProgressBarFour"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneProgressBarThreeUserInput"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneProgressBarTwo"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneProgressBarOne"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneSplashScreenSecondary"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneSplashScreenMain"
            android:exported="true" />
        <activity
            android:name=".Class_Demo_One_Rating_Bar"
            android:exported="true" />
        <activity
            android:name=".Class_Demo_One_Toolbar"
            android:exported="true" />
        <activity
            android:name=".Class_Demo_1_ScrollView"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <service
            android:name=".ClassDemoTwoJobService1"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>