<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cse225_codes"
        tools:targetApi="31">
        <activity
            android:name=".ClassDemoOneNotificationView1"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneNotificationManager1"
            android:exported="true" />
        <activity
            android:name=".CA1PracticeUnit1Footer2ListView1"
            android:exported="true" />
        <activity
            android:name=".CA1PracticeUnit2AlarmManger1Main"
            android:exported="true" />

        <receiver android:name=".CA1PracticeUnit2AlarmManger1Broadcast" />

        <activity
            android:name=".CA1PracticeUnit1Footer1"
            android:exported="true" />
        <activity
            android:name=".CA1PracticeUnit1SplashScreen1"
            android:exported="true" />
        <activity
            android:name=".CA1PracticeUnit1CustomToast1"
            android:exported="true" />
        <activity
            android:name=".CA1PracticeUnit1ProgressBar1"
            android:exported="true" />
        <activity
            android:name=".CA1PracticeUnit1BackgroundColorChangeToolbar1"
            android:exported="true" />
        <activity
            android:name=".CA1PracticeUnit1RatingBar1"
            android:exported="true" />
        <activity
            android:name=".CA1PracticeUnit1ScrollView1"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneSimpleScrollView1"
            android:exported="true" />
        <activity
            android:name=".ClassDemoTwoAlarmManager1"
            android:exported="true" />

        <receiver android:name=".ClassDemoTwoAlarmManager1AlarmBroadcast1" />

        <activity
            android:name=".ClassDemoOneFooter2BottomNav1"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneFooter1ListView"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneCustomToast2ToastLayout4"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneColorChangeToolbar"
            android:exported="true" />
        <activity
            android:name=".ClassTaskOneToolbar1"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneScrollViewTask"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneCustomToast3Dependency1"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneCustomToast2ToastLayout3"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneCustomToast2ToastLayout2"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneCustomToast2ToastLayout1"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneCustomToast1StyleableToast1"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneProgressBarFour"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneProgressBarThreeUserInput"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneProgressBarTwo"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneProgressBarOne"
            android:exported="true" />
        <activity
            android:name=".ClassDemoOneSplashScreenSecondary"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClassDemoOneSplashScreenMain"
            android:exported="true" />
        <activity
            android:name=".Class_Demo_One_Rating_Bar"
            android:exported="true" />
        <activity
            android:name=".Class_Demo_One_Toolbar"
            android:exported="true" />
        <activity
            android:name=".Class_Demo_1_ScrollView"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>